Implement JSON Web Key Set for OpenID Connect support

Need to implement JSON Web Key Set - [RFC 7517](https://tools.ietf.org/html/rfc7517) - for OpenID support.


The complete set of RFCs is:

- JSON Web Signature (JWS): [RFC 7515](https://tools.ietf.org/html/rfc7515)
- JSON Web Encryption (JWE): [RFC 7516](https://tools.ietf.org/html/rfc7516)
- JSON Web Key (JWK): [RFC 7517](https://tools.ietf.org/html/rfc7517)
- JSON Web Algorithms (JWA): [RFC 7518](https://tools.ietf.org/html/rfc7518)
- JSON Web Token  (JWT): [RFC 7519](https://tools.ietf.org/html/rfc7519)

The minimum requirements are:

- [ ] Support for HS256 algorithm (HMAC using SHA-256)
- [ ] Support for URLBASE64 encoding/decoding
- [ ] Support for JWS signing key

The protected header will be:

```
{"typ":"JWT",
 "alg":"HS256"}
```

The payload will be the JSON object for the identity and access token, similar to list of properties from introspection like [RFC 7662](https://tools.ietf.org/html/rfc7662):

```
{"iss":"username",
 "exp":NNNNNNNN,
 "scope":"list of scopes"
}
```


[master 5aec32b] Work on JWS/JWT/JWK/JWKS support (Issue #7)


[master 48092bd] Finish up JWT support (Issue #7)
